@import url('https://fonts.googleapis.com/css?family=Allan|Josefin+Sans');

html.sr .load-hidden {
    visibility: hidden;
}

body {
    text-align: center; 
    background-image: url(./images/9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: lightslategray;
    
}

h1 {
    margin-bottom: 15px; 
    font-weight: bold; 
    text-align: center; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold; 
}

@media (min-width: 768px) {
    h1 {
        text-align: left; 
    }
}

h2 {
    margin-bottom: 10px; 
    text-align: left;
    font-family: 'Allan', cursive;

}

p {
    text-align: left; 
}

.container {
    width: 100%; 
    margin: 0 auto; 
}

.hdgBox {
    padding-left: 20px; 
    margin-left: 5px; 
    margin-right: 5px; 
}


.red  {
    background-color: #892E39;
    color: white; 

}

#bordertest {
    border: 2px solid black;
}







