@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');

html.sr .load-hidden {
    visibility: hidden;
}

html {
    font-size: 14pt; 
}

span {
    color: white; 
    font-weight: bold; 
}

body {
    text-align: center; 
    background-image: url(./images/9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: lightslategray;
    
}

h1 {
    margin-bottom: 15px; 
    font-weight: bold; 
    text-align: center; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold; 
    padding: 10px 0; 
}

@media (min-width: 768px) {
    h1 {
        text-align: left; 
    }
}

h2 {
    margin-bottom: 10px; 
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0; 


}

p {
    text-align: left; 
    font-family: 'Roboto', sans-serif;
    

}

ul {
    text-align: left; 
    list-style: none;
    padding: 2px 0; 
    
}

li {
    padding: 0 10px; 
    
}

li:not(:last-child) {
    border-bottom: 2px solid tan; 
}

.container {
    width: 100%; 
    margin: 0 auto; 
}

.spacer {
    height: 200px; 
}

.hdgBox {
    padding-left: 20px; 
    margin-left: 5px; 
    margin-right: 5px; 
}


.red  {
    background-color: #892E39;
    color: white; 

}

#bordertest {
    border: 2px solid black;
}







